---
title: Collaborations
layout: layouts/default.njk
eleventyNavigation:
  key: Collaborations
  order: 9
---

{% for item in collections.collaborations %}
  <div class="profile-card collaboration-item">
    <div class="profile-card-body">
      <a href="{{ item.data.url }}" target="_blank" class="profile-card-photo-container collaborator-logo logo-container">
        <div class="profile-card-photo" style="background-image: url('/images/collaborations/{{ item.data.image_filename }}"></div>
      </a>
      <div class="profile-card-text-container">
        <p class="profile-card-name">{{ item.data.name }}</p>
        <p class="profile-card-details">{{ item.data.description | safe}}</p>
      </div>
    </div>
  </div>
{% endfor %}