---
title: Current Research
layout: layouts/default.njk
eleventyNavigation:
  key: Current Research
  order: 3
---

{% for group, items in collections.current_research | groupby("data.group") %}
  <section>
    <h2>{{ group }}</h2>
    {% for item in items %}
      <article class="research-article">
        <h3>{{ item.data.name }}</h3>
        <p class="research-authors" style="margin-top: -10px">{{ item.data.authors }}</p>
        <p>{{ item.data.description | safe }}</p>
      </article>
    {% endfor %}
  </section>
{% endfor %}