---
title: News
layout: layouts/default.njk
eleventyNavigation:
  key: News
  order: 11
---


{% for item in collections.news %}
  <article class="news-article">
    <h3>{{ item.data.title }}</h3>
    <p class="article-date">{{ item.data.news_date }}</p>
    <p>{{ item.data.article | safe }}</p>

    {% if item.data.images %}
      <div class="article-images">
        {% for image in item.data.images %}
            {% lightboxImage "news/images/" + image.filename, image.description %}

        {% endfor %}
      </div>

    {% endif %}
  </article>
{% endfor %}