---
title: Our Team
layout: layouts/default.njk
eleventyNavigation:
  key: Our Team
  order: 2
---

{% for group, items in collections.current_people | groupby("data.group") %}
    <section>
    <h2>{{ group }}</h2>
    <div class="grid-2">
    {% for item in items %}
      {% include 'partials/person.njk' %}
    {% endfor %}
{% endfor %}

<section>
<h2>Alumni</h2>
<div class="grid-2">
{% for item in collections.alumni_people %}
  {% include 'partials/person.njk' %}
{% endfor %}
</div>