---
title: Presentations
layout: layouts/default.njk
eleventyNavigation:
  key: Presentations
  order: 8
---


{% for group, items in collections.presentations | groupby("data.group") %}
  <section>
    <h2>{{ group }}</h2>
    <div class="grid-2">

    {% for item in items %}
      <div class="grid-item">
        <div class="presentation">
          <div class="presentation-video-container">
            <div class="presentation-video-container-fadein ready">
             <iframe width="100%" height="100%" style="outline: none; border: none"
                src="{{ item.data.url | getYoutubeEmbedLink }}">
                </iframe>
            </div>

          </div>
          <div class="presentation-details-container">
            <div class="presentation-title">{{item.data.title}}</div>
            {% if item.data.presentation_date %}
              <div class="presentation-authors-and-date">{{item.data.authors}}, {{item.data.presentation_date}}</div>
            {% endif %}
            <div class="presentation-description">{{item.data.description}}</div>
          </div>

        </div>
      </div>
    {% endfor %}
    </div>
</section>
{% endfor %}