---
title: Publications
layout: layouts/default.njk
eleventyNavigation:
  key: Publications
  order: 6
---

{% for group, items in collections.publications | groupby("data.group") %}
    <section style="margin-top: 40px;">
    <h2>{{ group }}</h2>
    <ul class="publications-list">
    {% for item in items %}
      <li>
        <div class="publication-title">
          {% if item.data.url %}
            <a href="{{item.data.url}}" target="_blank">{{ item.data.title }}</a>
          {% else %}
            {{ item.data.title }}
          {% endif %}
        </div>
        <div class="publication-authors">{{ item.data.authors }}</div>
        <div class="publication-venue">{{ item.data.venue }}</div>
      </li>
    {% endfor %}
    </ul>
{% endfor %}