---
title: Seminars
layout: layouts/default.njk
eleventyNavigation:
  key: Seminars
  order: 7
---

{% for item in collections.seminars %}
    <article>
    <h2>{{ item.data.title }}</h2>
    <div class="article-details">
      <p class="article-facilitator">Facilitated by: {{ item.data.facilitated_by }}</p>
      <p class="article-date">{{ item.data.seminar_date }}</p>
      <p class="article-venue">{{ item.data.venue }}</p>
    </div>
    {{ item.content | safe }}
    </article>
{% endfor %}