---
title: Software Demos
layout: layouts/default.njk
eleventyNavigation:
  key: Software Demos
  order: 4
---

{% for item in collections.software_demos %}
  <div class="profile-card demo-card margin-bottom-2x">
    <div class="profile-card-body">
      <div class="profile-card-photo-container">
        <div class="profile-card-photo demo-photo" style="background-image: url('/images/software-demos/{{ item.data.image_filename }}"></div>
      </div>
      <div class="profile-card-text-container">
        <p class="profile-card-name">{{ item.data.name }}</p>
        <p class="profile-card-byline">{{ item.data.byline }}</p>
        <p class="profile-card-details">
          {{ item.data.description | safe }}
        </p>
      </div>
    </div>

    <div class="profile-card-gutter">
      <div class="profile-card-gutter-left"></div>
      <div class="profile-card-gutter-right">
          {% if item.data.paper_link %}
            <a class="button" target="_blank" href="{{item.data.paper_link}}">
              Read the paper
              {% if item.data.paper_venue %}
                <div class="subtitle">from {{ item.data.paper_venue }}</div>
              {% endif %}
            </a>
          {% endif %}
          {% if item.data.demo_link %}
            <a class="button" target="_blank" href={{ item.data.demo_link}}>Try the demo</a>
          {% endif %}
        </div>
    </div>
  </div>
{% endfor %}