<footer>
  <div class="container">
    <div class="logo-group logo-group-large">
      <div class="logo nlp-tlp-logo">
        <img src="images/logos/nlp-tlp-logo-white.png" alt="NLP-TLP Logo"/>
      </div>
      <div class="logo-text">
        <h3>The University of Western Australia</h3>
        <h2>Natural & Technical Language Processing Group</h2>
      </div>
    </div>
    <hr/>
    <p>&copy; UWA NLP-TLP Group 2024.<br/>
    Website by Michael Stewart.</p>
  </div>
</footer>