<header class="header">
    <div class="container flex-container flex-align-center justify-space-between">

      <div class="header-left flex-container flex-align-center">
        <a href="https://uwa.edu.au" target="_blank">
          <div class="logo">
            <img src="images/logos/uwacrest-blue.png" alt="UWA logo" />
          </div>
        </a>
      </div>
      <div class="header-right flex-container flex-align-center">
       <div class="logo-group">

          <div class="logo nlp-tlp-logo">
            <img src="images/logos/nlp-tlp-logo.png" alt="NLP-TLP Logo"/>
          </div>
        </div>
      </div>
    </div>
</header>