<div id="hero" class="flex-container flex-align-center box-shadow-inset hero-background {% if not full_hero %}hero-condensed{% endif %}">
    <div class="hero-background"></div>
    <div class="container flex-container flex-align-center">
      <div class="hero-text">
        <h2>The University of Western Australia</h2>
        <h1>Natural &amp; Technical Language Processing Group</h1>
      </div>
    </div>
</div>